{% extends 'base.html' %}
{% from 'macro/formhelpers.html' import render_field %}

{% block content %}
        <h2 class="text-center">Регистрация</h2>
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" class="article">
        {% if 'csrf_token' in form %}
            {{ form.csrf_token }}
        {% endif %}
        {% for field in ['first_name', 'last_name', 'username', 'email', 'password', 'confirm'] %}
            {{ render_field(form[field]) }}
        {% endfor %}
        <div>
            {{ form.submit(class="btn btn-outline-success m-3") }}
        </div>
    </form>
{% endblock content %}