{% from 'macro/formhelpers.html' import render_field %}

{% block content %}
    <h2>ADD Article</h2>
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% if 'csrf_token' in form %}
            {{ form.csrf_token }}
        {% endif %}
        {% for field in ['title', 'body'] %}
            {{ render_field(form[field]) }}
        {% endfor %}
        <div>
            {{ form.submit(class="btn btn-outline-success m-3") }}
        </div>
    </form>
{% endblock content %}