{% extends 'base.html' %}

{% block content %}
    {% if article %}
        <a class="mb-5 mt-5" href="{{ url_for('articles.list') }}">
            <button type="button" class="btn btn-danger"><b> < </b> Вернуться к статьям</button>
        </a>
        <div class="container">
            <h1 class="info-text mt-3 mb-2">{{ article.title }}</h1>
            <hr>
            <p class="info-text">{{ article.body }}</p>
        </div>
    {% else %}
        <h1 class="info-text">{{ title }}</h1>
    {% endif %}
{% endblock content %}