{% extends 'base.html' %}

{% block content %}

    <div class="container mb-2">
        <h3 class="text-center mb-4">{{ title }}</h3>
        {% if error %}
            {#            {% for error in errors %}#}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
            {#            {% endfor %}#}
        {% endif %}

        {% for item in articles.items %}
            <div class="article row mb-2">

                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="col-auto d-lg-block text-start"> {{ item.title }}</h3>
                    <hr>
                    <p class="col-auto d-lg-block text-start"> {{ item.body | truncate(150) }}</p>
                    <a href="{{ url_for('articles.detail', id=item.id) }}"
                       class="mt-4 btn my-detail-button">
                        Подробнее
                    </a>
                </div>
                <div class="col-auto d-none d-md-block m-auto">
                    <img class="bd-placeholder-img img-shadow" src="../../static/uploads/image/{{ item.cover }}"
                         width="200" height="250">
                </div>

            </div>

        {% endfor %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('articles.add_article') }}" class="mt-2 btn my-success-button">
                <b> + </b> Добавить статью
            </a>
        {% endif %}


        {% block pagination %}

            {% if articles.per_page < articles.total %}
                <div class="my-pagination mt-2">
                    {% if articles.has_prev %}
                        <li class="page-item my-previous-page">
                            <a {% if articles.has_prev %} href="./?page={{ articles.prev_num }}" {% endif %}
                                                          class="page-link">
                                <span>&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in articles.iter_pages() %}
                        {% if page == None %}
                            <li class="dots current-page {% if page == articles.page %} active{% endif %}">
                                <a class="page-link">...
                                </a>
                            </li>
                        {% else %}
                            <li class="dots current-page {% if page == articles.page %} active{% endif %}">
                                <a class="page-link" href="./?page={{ page }}">{{ page }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if articles.has_next %}
                        <li class="page-item my-next-page">
                            <a class="page-link"
                                    {% if articles.has_next %} href="./?page={{ articles.next_num }}" {% endif %}><span>&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </div>
            {% endif %}



        {% endblock %}
    </div>


{% endblock content %}