{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <a class="btn my-back-button mt-1 mb-1" href="{{ url_for('articles.list') }}">
            <b> < </b> Вернуться к статьям
        </a>
        {% if article %}
            <div class="mt-3 row article">
                <div class="col-auto d-none d-md-block m-auto">
                    <img class="bd-placeholder-img img-shadow" src="{{ url_for('static', filename=article.cover) }}"
                         width="300" height="400">
                </div>

                <div class="col p-4 d-flex flex-column position-static">
                    <h1 class="text-start mb-4">{{ article.title }}</h1>
                    <hr>
                    <p class="info-text">{{ article.body }}</p>
                    <p class="text-start"> Автор статьи: <a class="my-link"
                                                            href="{{ url_for('authors.detail', id=article.author.id) }}">
                        {{ article.author.user.username }}
                    </a></p>
                    <p class="text-start"> Последнее обновление: {{ article.show_date(article.update_at) }}</p>
                    {% if article.tag %}
                        <div class="row">
                            <p class="text-start col-1">Теги: </p>
                            {{ article.tag | join(' | ') }}


                        </div>
                    {% endif %}
                </div>


            </div>

        {% else %}
            <h1 class="info-text">{{ title }}</h1>
        {% endif %}

    </div>

{% endblock content %}