{% extends 'base.html' %}
{% from 'macro/formhelpers.html' import render_field %}

{% block content %}

    <div class="">
        <div class="container article cover-container">
            <div class="row">
                <div class="col-10"></div>
                <a class="btn col-2 text-end"
                   href="{{ url_for('articles.detail', id=article.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-x-lg"
                         viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </a>
            </div>

            <h3 class="text-center">Редактирование статьи </h3>


            <hr>
            {% if errors %}
                <div class="m-auto">

                    {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST" class="mx-4" enctype=multipart/form-data>
                {% if 'csrf_token' in form %}
                    {{ form.csrf_token }}
                {% endif %}


                <div class="row">
                    {{ form.title.label(class="text-start mb-2") }}
                    {{ form.title(for='floatingInput', class="rounded-2 col",
                    placeholder='Например: Побег из шоушенка',value=article.title) }}

                    {% set f = form.body.process_data(article.body) %}
                    {{ form.body.label(class="text-start my-2") }}
                    {{ form.body(for='floatingInput', class="rounded-2 col", rows=5,
                    placeholder='Например: Давным-давно в далекой Галактике... ') }}


                    {{ form.cover.label(for="formFile", class="text-start my-2") }}
                    {{ form.cover(class="form-control col", type="file", id="formFile") }}

                </div>
                    <a class="btn my-delete-button mt-3" href="{{ url_for('articles.list') }}">
                        Удалить
                    </a>
                    {{ form.submit(class="btn my-update-button mt-3") }}


            </form>

        </div>
    </div>
{% endblock content %}