{% macro render_field(field) %}
    <div class="form-floating mb-3 text-muted form-group">
        {{ field(id="floatingInput", class="form-control rounded-2 " + (" is-invalid" if field.errors else ""))|safe }}
        {{ field.label(for='floatingInput', class="") }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}